.mock-logo {
  width: 80px;
  height: 80px;
  background-color: #888888;
}

.search-input {
  &__inner-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    padding: 0px 0px 0px 20px;
    border-radius: 30px;
    background-color: #eeeeee;
    transition: width 0.2s ease-in-out;

    &__placeholder {
      font-size: 1.25rem;
    }
  }

  &__active-input {
    opacity: 0;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #eeeeee;
  }

  &:hover {
    cursor: pointer;
  }
}

.search-icon {
  margin-right: 5px;
}
