<footer class="footer has-background-black has-text-light">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <h5>Solutions</h5>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
      <div class="column is-3">
        <h5>Researchers</h5>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
      <div class="column is-6">
        <h5>Editors</h5>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="content padding-top-40 has-text-light">
          <p>
            Copyright &copy; Nigerian Journal of Pharmaceutical & Applied Science Research
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
