<footer class="footer has-background-black has-text-light">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <h5>Research Services</h5>
        <ul>
          <li><a>Submit Manuscript</a></li>
          <li><a>Guide for Authors</a></li>
          <li><a>Submit Manuscript</a></li>
          <li><a>Editorial Team</a></li>
          <li><a>Information for Reviewers</a></li>
        </ul>
      </div>
      <div class="column is-3">
        <div class="level">
          <div class="level-item">
            <div class="circle-wrap"></div>
          </div>
          <div class="level-item">
            <div class="circle-wrap"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="content padding-top-40 has-text-light">
          <p>
            Copyright &copy; Nigerian Journal of Pharmaceutical & Applied Science Research
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
