<jr-main-header></jr-main-header>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h4 class="title">
            About
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6">
        <h4 class="title is-4">Aims & Scope</h4>
        <p>Nigerian Journal of Pharmaceutical and Applied Science Research (NIJOPHASR) is a quarterly publication
          (March,
          June, September, and December) and covers all areas of Pharmaceutical Sciences, Chemical and Life Sciences,
          Medical and Paramedical Sciences.</p>
      </div>
      <div class="column is-6">
        <h4 class="title is-4">Editorial Policies</h4>
        <p>
          Nigerian Journal of Pharmaceutical and Applied Science Research is published quarterly as reference source to
          researchers in the Pharmaceutical Science, Chemical and Life Sciences, Medical and Paramedical Sciences. It is
          a referred journal. Statements and opinions herein expressed in the articles and communication are those of
          the authors and not the Editor(s) and Publisher. The Editor(s) and Publisher disclaim any responsibility or
          liability for such materials and do not guarantee, warrant, or endorse any product or service advertised in
          this publication or any claim made by the manufacturer of such products or services.
        </p>
      </div>
      <div class="column is-6">
        <h4 class="title is-4">Subscription</h4>
        <p>
          Order for current subscription and back issues could be sent to the publishers. Subscriptions are accepted on
          prepaid basis only. Issues will be sent by surface mail except where a subscriber has an alternative.
        </p>
      </div>
      <div class="column is-6">
        <h4 class="title is-4">Reprint</h4>
        <p>
          Reprints of any article in this Journal are available from the Faculty of Pharmacy, University of Uyo, Uyo,
          Nigeria. Email: nijophasruniuyo@yahoo.co.uk
        </p>
      </div>
    </div>
  </div>
</section>
<jr-main-footer></jr-main-footer>
