// Helpers
.padding-bottom-80 {
  padding-bottom: 80px;
}

.padding-top-40 {
  padding-top: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.block-underline {
  &:after {
    content: '';
    display: block;
    width: 10%;
    height: 4px;
    margin: 10px 0;
    background-color: #a0a0a0;
  }
}

.carousel {
  background: url('../../../assets/images/beaker-biology-chemical.jpg') no-repeat;
  background-size: cover;

  &__btn {
    margin-top: 15px;
  }
}

.content-section {
  padding: 20px 0;
}

.action-tile {
  text-decoration: none;
  color: #000000;
}

.news-tile {
  background-color: #a0a0a0;
}

.circle-wrap {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #a0a0a0;
}

.text-content {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}

.stat {
  border-top: thin solid #eee;
  padding: 10px 0;

  &__number {
    font-size: 1.5rem;
  }

  &__text {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
  }
}
