<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <h1 class="title is-5">
          Nigerian Journal of Pharmaceuticals & Applied Science Research
        </h1>
      </a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item search-btn">
          <span>
            <i class="fas fa-search fa-2x"></i>
            Search
          </span>
        </div>
        <div class="navbar-item menu-btn">
          <span>
            <i class="fas fa-bars fa-2x"></i>
            MENU
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-primary is-medium carousel">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <h4 class="title">
            Empowering Knowledge
          </h4>
          <p class="">
            Nigerian Journal of Pharmaceutical & Applied Science Research is
            published quarterly as reference source to researchers in the
            Pharmaceutical, Chemical and Life Sciences as well as the Medical
            and Paramedical Sciences
          </p>
          <a class="button is-normal carousel__btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-section">
  <div class="container">
    <div class="columns">
      <div class="column is-full">
        <h4 class="title is-4 block-underline">Make your mark</h4>
      </div>
    </div>
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="tile is-parent is-horizontal is-paddingless">
          <a class="tile padding-bottom-80 action-tile">
            <div class="media-left">
              <img
                src="../../../assets/images/analytics.svg"
                alt=""
                width="70px"
              />
            </div>
            <div class="media-content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
                iure eius porro cumque quisquam.
              </p>
            </div>
          </a>
          <a class="tile padding-bottom-80 action-tile">
            <div class="media-left">
              <img
                src="../../../assets/images/insurance.svg"
                alt=""
                width="70px"
              />
            </div>
            <div class="media-content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
                iure eius porro cumque quisquam.
              </p>
            </div>
          </a>
        </div>
        <div class="tile is-parent is-horizontal is-paddingless">
          <a class="tile padding-bottom-80 action-tile">
            <div class="media-left">
              <img
                src="../../../assets/images/search.svg"
                alt=""
                width="70px"
              />
            </div>
            <div class="media-content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
                iure eius porro cumque quisquam.
              </p>
            </div>
          </a>
          <a class="tile padding-bottom-80 action-tile">
            <div class="media-left">
              <img src="../../../assets/images/loupe.svg" alt="" width="70px" />
            </div>
            <div class="media-content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
                iure eius porro cumque quisquam.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="column">
        <figure class="image is-3by2">
          <img
            src="https://www.umassmed.edu/globalassets/biochemistry-and-molecular-pharmacology/pexels-photo-2.jpg"
          />
        </figure>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <hr />
</div>

<section class="content-section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="columns">
          <div class="column is-full">
            <h4 class="title is-4 block-underline">Journal News</h4>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column is-full">
            <h4 class="title is-4 block-underline">Recent Publications</h4>
          </div>
        </div>
        <article class="media">
          <div class="media-left">
            <img
              src="../../../assets/images/placeholder1.png"
              alt=""
              width="70px"
            />
          </div>
          <div class="media-content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              iure eius porro cumque quisquam.
            </p>
          </div>
        </article>
        <article class="media">
          <div class="media-left">
            <img
              src="../../../assets/images/placeholder1.png"
              alt=""
              width="70px"
            />
          </div>
          <div class="media-content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              iure eius porro cumque quisquam.
            </p>
          </div>
        </article>
        <article class="media">
          <div class="media-left">
            <img
              src="../../../assets/images/placeholder1.png"
              alt=""
              width="70px"
            />
          </div>
          <div class="media-content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              iure eius porro cumque quisquam.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <hr />
</div>

<div class="content-section">
  <div class="container padding-bottom-80">
    <div class="columns">
      <div class="column is-full">
        <h4 class="title is-4 block-underline">In Partnership with</h4>
      </div>
    </div>
    <div class="level">
      <div class="level-item">
        <div class="circle-wrap"></div>
      </div>
      <div class="level-item">
        <div class="circle-wrap"></div>
      </div>
      <div class="level-item">
        <div class="circle-wrap"></div>
      </div>
      <div class="level-item">
        <div class="circle-wrap"></div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-one-quarter">
        <h5>Solutions</h5>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <h5>Researchers</h5>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <h5>Editors</h5>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <h5>About</h5>
        <ul>
          <li>Link 1</li>
          <li>Link 2</li>
          <li>Link 3</li>
          <li>Link 4</li>
          <li>Link 5</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content has-text-centered padding-top-40">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
      The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
      website content is licensed
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
        >CC BY NC SA 4.0</a
      >.
    </p>
  </div>
</footer>
