// Helpers
.padding-bottom-80 {
  padding-bottom: 80px;
}

.padding-top-80 {
  padding-top: 80px;
}

.padding-top-40 {
  padding-top: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.is-vertically-centered {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.landing-wrapper {
  background: url('../../../assets/images/carousel-bg.png') no-repeat;
  background-size: cover;
}

.landing {
  background-color: transparent;
  height: 500px;

  &__header {
    font-family: 'Poppins', 'Heebo', sans-serif;
    font-size: 3em;
  }

  &__text {
    font-family: 'Poppins', 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .7);
  }

  &__btn {
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .3);
  }
}

.content-section {
  padding: 20px 0;
}

.action-tile {
  text-decoration: none;
  color: #000000;
}

.news-tile {
  background-color: #a0a0a0;
}

.circle-wrap {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #a0a0a0;
}



.stat {
  border-top: thin solid #eee;
  padding: 10px 0;

  &__number {
    font-size: 1.5rem;
  }

  &__text {
    font-size: 1.2rem;
  }
}

.news-preview {
  word-break: break-all;

  &__title {
    font-weight: bold;
  }

  &__excerpt {
    width: 25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.publication {
  height: 250px;
}
