<section class="landing-wrapper">
  <jr-main-header></jr-main-header>
  <section class="hero is-primary is-medium landing">
    <!-- <div class="hero-body"> -->
    <div class="container is-vertically-centered">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <h2 class="title is-2 landing__header">
            Empowering Knowledge
          </h2>
          <p class="landing__text">
            Nigerian Journal of Pharmaceutical & Applied Science Research is
            published quarterly as reference source to researchers in the
            Pharmaceutical, Chemical and Life Sciences as well as the Medical
            and Paramedical Sciences
          </p>
          <a class="button is-large is-primary is-rounded landing__btn">Learn More</a>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </section>
</section>

<section class="content-section">
  <div class="container">
    <div class="columns padding-top-80">
      <div class="column is-8">
        <div class="tile is-parent is-horizontal is-paddingless">
          <a class="tile padding-bottom-80 action-tile">
            <div class="media-left">
              <img src="assets/images/analytics.svg"
                alt=""
                width="70px" />
            </div>
            <div class="media-content">
              <h4 class="title is-5">Publish with NJPASR</h4>
              <p class="text-content">
                Publishing with Nijophasr: Our step by step guide and information you need.
              </p>
            </div>
          </a>
          <a class="tile padding-bottom-80 action-tile">
            <div class="media-left">
              <img src="assets/images/insurance.svg"
                alt=""
                width="70px" />
            </div>
            <div class="media-content">
              <h4 class="title is-5">Find articles</h4>
              <p class="text-content">
                Enhance your research at every step with access to our repository of research materials.
              </p>
            </div>
          </a>
        </div>
        <div class="tile is-parent is-horizontal is-paddingless">
          <a class="tile padding-bottom-80 action-tile">
            <div class="media-left">
              <img src="assets/images/search.svg"
                alt=""
                width="70px" />
            </div>
            <div class="media-content">
              <h4 class="title is-5">Track your publication</h4>
              <p class="text-content">
                Track and monitor your progress and be part of the publication process
              </p>
            </div>
          </a>
          <a class="tile padding-bottom-80 action-tile">
            <div class="media-left">
              <img src="assets/images/loupe.svg"
                alt=""
                width="70px" />
            </div>
            <div class="media-content">
              <h4 class="title is-5">Submit your paper</h4>
              <p class="text-content">
                Step-by-step guide to getting your research paper peer-reviewed easily.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="column is-3 is-offset-1">
        <h4 class="title is-4">Statistics</h4>
        <div class="tile stat is-flex">
          <div class="media-left">
            <fa-icon [icon]="['far', 'file']"
              size="3x"></fa-icon>
          </div>
          <div class="media-content">
            <p class="stat__text is-pulled-right">300 Articles Published</p>
          </div>
        </div>
        <div class="tile stat is-flex">
          <div class="media-left">
            <fa-icon [icon]="['far', 'folder-open']"
              size="3x"></fa-icon>
          </div>
          <div class="media-content">
            <p class="stat__text is-pulled-right">125 Online Journals</p>
          </div>
        </div>
        <div class="tile stat is-flex">
          <div class="media-left">
            <fa-icon [icon]="['far', 'user']"
              size="3x"></fa-icon>
          </div>
          <div class="media-content">
            <p class="stat__text is-pulled-right">15 Onboard Editors</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <hr />
</div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="columns">
          <div class="column is-full">
            <h4 class="title is-4">Recent Publications</h4>
          </div>
        </div>
        <jr-publication-card-row [rowCount]="2"></jr-publication-card-row>
        <jr-publication-card-row [rowCount]="2"></jr-publication-card-row>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column is-full">
            <h4 class="title is-4">Journal News</h4>
          </div>
        </div>
        <article class="media news-preview">
          <div class="media-content">
            <a class="news-preview__title">Volume 8, No. 1 (January 2019) has been uploaded</a>
            <p class="news-preview__excerpt">
              We just completed the upload of all publications for the Volume 8, No.1 of the Nigerian Journal of
              Pharmaceutical & Applied Science Research (NIJOPHASR). To have your publications featured in this journal,
              please follow the publication guidelines.
            </p>
          </div>
        </article>
        <article class="media news-preview">
          <div class="media-content">
            <a class="news-preview__title">Volume 7, No. 3 (Sep 2018) has been uploaded</a>
            <p class="news-preview__excerpt">
              We just completed the upload of all publications for the Volume 7, No.3 of the Nigerian Journal of
              Pharmaceutical & Applied Science Research (NIJOPHASR). To have your publications featured in this journal,
              please follow the publication guidelines.
            </p>
          </div>
        </article>
        <article class="media news-preview">
          <div class="media-content">
            <a class="news-preview__title">Volume 7, No. 3 Sep 2018 Edition</a>
            <p class="news-preview__excerpt">
              We are still receiving and processing manuscripts for Volume 7 Number 3, September 2018 edition.
              Researchers are encouraged to send in their manuscripts for consideration.
            </p>
          </div>
        </article>
        <article class="media news-preview">
          <div class="media-content">
            <a class="news-preview__title">Volume 7, No. 3 (Sep 2018) has been uploaded</a>
            <p class="news-preview__excerpt">
              We just completed the upload of all publications for the Volume 7, No.3 of the Nigerian Journal of
              Pharmaceutical & Applied Science Research (NIJOPHASR). To have your publications featured in this journal,
              please follow the publication guidelines.
            </p>
          </div>
        </article>
        <article class="media news-preview">
          <div class="media-content">
            <a class="news-preview__title">Volume 7, No. 3 (Sep 2018) has been uploaded</a>
            <p class="news-preview__excerpt">
              We just completed the upload of all publications for the Volume 7, No.3 of the Nigerian Journal of
              Pharmaceutical & Applied Science Research (NIJOPHASR). To have your publications featured in this journal,
              please follow the publication guidelines.
            </p>
          </div>
        </article>
        <article class="media news-preview">
          <div class="media-content">
            <a class="news-preview__title">Volume 7, No. 3 (Sep 2018) has been uploaded</a>
            <p class="news-preview__excerpt">
              We just completed the upload of all publications for the Volume 7, No.3 of the Nigerian Journal of
              Pharmaceutical & Applied Science Research (NIJOPHASR). To have your publications featured in this journal,
              please follow the publication guidelines.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- <div class="container">
  <hr />
</div>

<div class="section">
  <div class="container padding-bottom-80">
    <div class="columns">
      <div class="column is-full">
        <h4 class="title is-4 block-underline">In Partnership with</h4>
      </div>
    </div>
    <div class="level">
      <div class="level-item">
        <div class="circle-wrap"></div>
      </div>
      <div class="level-item">
        <div class="circle-wrap"></div>
      </div>
      <div class="level-item">
        <div class="circle-wrap"></div>
      </div>
      <div class="level-item">
        <div class="circle-wrap"></div>
      </div>
    </div>
  </div>
</div> -->
<jr-main-footer></jr-main-footer>
