<jr-main-header></jr-main-header>
<section class="hero is-primary is-medium carousel">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <h2 class="title is-2">
            Empowering Knowledge
          </h2>
          <p class="text-content">
            Nigerian Journal of Pharmaceutical & Applied Science Research is
            published quarterly as reference source to researchers in the
            Pharmaceutical, Chemical and Life Sciences as well as the Medical
            and Paramedical Sciences
          </p>
          <a class="button is-large is-primary is-rounded is-inverted is-outlined carousel__btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-section">
  <div class="container">
    <!-- <div class="columns">
      <div class="column is-full">
        <h4 class="title is-4">Make your mark</h4>
      </div>
    </div> -->
    <div class="columns padding-top-40">
      <div class="column is-8">
        <div class="tile is-parent is-horizontal is-paddingless">
          <a class="tile padding-bottom-80 action-tile">
            <div class="media-left">
              <img src="../../../assets/images/analytics.svg"
                alt=""
                width="70px" />
            </div>
            <div class="media-content">
              <h4 class="title is-5">Publish with NJPASR</h4>
              <p class="text-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
                iure eius porro cumque quisquam.
              </p>
            </div>
          </a>
          <a class="tile padding-bottom-80 action-tile">
            <div class="media-left">
              <img src="../../../assets/images/insurance.svg"
                alt=""
                width="70px" />
            </div>
            <div class="media-content">
              <h4 class="title is-5">Schedule a review</h4>
              <p class="text-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
                iure eius porro cumque quisquam.
              </p>
            </div>
          </a>
        </div>
        <div class="tile is-parent is-horizontal is-paddingless">
          <a class="tile padding-bottom-80 action-tile">
            <div class="media-left">
              <img src="../../../assets/images/search.svg"
                alt=""
                width="70px" />
            </div>
            <div class="media-content">
              <h4 class="title is-5">Track your publication</h4>
              <p class="text-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
                iure eius porro cumque quisquam.
              </p>
            </div>
          </a>
          <a class="tile padding-bottom-80 action-tile">
            <div class="media-left">
              <img src="../../../assets/images/loupe.svg"
                alt=""
                width="70px" />
            </div>
            <div class="media-content">
              <h4 class="title is-5">Submit your paper</h4>
              <p class="text-content">
                Step-by-step guide to getting your research paper peer-reviewed easily.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="column is-3 is-offset-1">
        <h4 class="title is-4">Statistics</h4>
        <div class="tile stat">
          <div class="media-left">
            <fa-icon [icon]="['far', 'file']"
              size="4x"></fa-icon>
          </div>
          <div class="media-content">
            <p class="stat__number">300</p>
            <p class="stat__text">Articles Published</p>
          </div>
        </div>
        <div class="tile stat">
          <div class="media-left">
            <fa-icon [icon]="['far', 'folder-open']"
              size="4x"></fa-icon>
          </div>
          <div class="media-content">
            <p class="stat__number">125</p>
            <p class="stat__text">Online Journals</p>
          </div>
        </div>
        <div class="tile stat">
          <div class="media-left">
            <fa-icon [icon]="['far', 'user']"
              size="4x"></fa-icon>
          </div>
          <div class="media-content">
            <p class="stat__number">15</p>
            <p class="stat__text">Onboard Editors</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <hr />
</div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="columns">
          <div class="column is-full">
            <h4 class="title is-4">Journal News</h4>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column is-full">
            <h4 class="title is-4">Recent Publications</h4>
          </div>
        </div>
        <article class="media">
          <div class="media-left">
            <img src="../../../assets/images/placeholder1.png"
              alt=""
              width="70px" />
          </div>
          <div class="media-content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              iure eius porro cumque quisquam.
            </p>
          </div>
        </article>
        <article class="media">
          <div class="media-left">
            <img src="../../../assets/images/placeholder1.png"
              alt=""
              width="70px" />
          </div>
          <div class="media-content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              iure eius porro cumque quisquam.
            </p>
          </div>
        </article>
        <article class="media">
          <div class="media-left">
            <img src="../../../assets/images/placeholder1.png"
              alt=""
              width="70px" />
          </div>
          <div class="media-content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              iure eius porro cumque quisquam.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- <div class="container">
  <hr />
</div> -->

<!-- <div class="section">
  <div class="container padding-bottom-80">
    <div class="columns">
      <div class="column is-full">
        <h4 class="title is-4 block-underline">In Partnership with</h4>
      </div>
    </div>
    <div class="level">
      <div class="level-item">
        <div class="circle-wrap"></div>
      </div>
      <div class="level-item">
        <div class="circle-wrap"></div>
      </div>
      <div class="level-item">
        <div class="circle-wrap"></div>
      </div>
      <div class="level-item">
        <div class="circle-wrap"></div>
      </div>
    </div>
  </div>
</div> -->
<jr-main-footer></jr-main-footer>
