<jr-main-header></jr-main-header>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h4 class="title">Search Publications</h4>
      <div class="field has-addons">
        <div class="control">
          <input class="input is-rounded is-large search-input"
            type="text"
            placeholder="Find a publication">
        </div>
        <div class="control">
          <div class="select is-large">
            <select>
              <option>Select year</option>
              <option>With options</option>
            </select>
          </div>
        </div>
        <div class="control">
          <a class="button is-success is-rounded is-large">
            Search
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-full">
        <h4 class="title is-4">Search Results</h4>
      </div>
      <div class="column is-full"></div>
      <div class="column is-full">
        <div class="tile is-ancestor">
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-full">
        <h4 class="title is-4">Current Issues</h4>
      </div>
      <div class="column is-full"></div>
      <div class="column is-full">
        <div class="tile is-ancestor">
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section"
  id="archives">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-full">
        <h4 class="title is-4">Archives</h4>
      </div>
      <div class="column is-full"></div>
      <div class="column is-full">
        <div class="tile is-ancestor">
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Subject</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<jr-main-footer></jr-main-footer>
